.onex-content-right {
  text-align: right;
}
.icon-adjust-2 {
  margin-top: -2px;
}
.icon-adjust-3 {
  margin-top: -3px;
}
.row-delete-icon-adjust {
  font-size: 28px;
  margin-top: 0px;
}
.row-delete-icon-adjust:hover {
  cursor: pointer;
}